<div id="menu" class="col-md-10">
<p class="headers">Appetizers:</p>
  <ul>
    <li>Quesadillas with Chipotle flavored chicken, pico de gallo, and guacamole</li>
    <li>Shrimp cocktail with classic' horseradish cocktail sauce</li>
    <li>New Orleans style shrimp rémoulåde served on a mixed raw veggie salad</li>
    <li>Indonesian Chicken Saté skewers with peanut sauce</li>
    <li>Fresh or crispy spring roll* sushi maki and dipping sauces  Seared Ahi Tuna with wasabi and soy sauce</li>
  </ul>
<p class="headers">Soups:</p>
  <ul>
    <li>French Onion Soup</li>
    <li>Thai Coconut-Lemongrass Chicken Soup</li>
    <li>Creole Gumbo, with chicken and seafood</li>
    <li>Sopa Negra, Costa Rican black bean soup served with avocado, egg, and cheese toppings.</li>
  </ul>
<p class="headers">Salads:</p>
  <ul>
    <li>Cesar Salad with herbed croutons and optional grilled chicken or fish addition</li>
    <li>Frisée lettuce with bacon pieces, cheese, vinaigrette and toasted nuts</li>
    <li>Mixed tossed salads with balsamic vinaigrette, buttermilk ranch, French, honey mustard, green goddess.</li>
  </ul>
<p class="headers">Main Courses:</p>
  <ul>
    <li>Grilled tenderloin steak with choice of green peppercorn, red wine and shallot, mushroom sherry, or béarnaise sauces.</li>
    <li>Grilled Mahi Mahi fillet, tuna steak, jumbo shrimps or lobster tail cooked in varying combinations</li>
    <li>Hungarian Chicken Paprika or Indian Chicken Masala</li>
    <li>Lemon-Rosemary Chicken</li>
    <li>Pork tenderloin in white wine and fennel sauce</li>
  </ul>
<p class="headers">Pasta:</p>
  <ul>
    <li>Spaghetti, fettuccini, or penne with white sauce (Alfredo), or tomato (Marinara) sauce, and with optional meat or seafood additions</li>
    <li>Vegetarian or Meat Lasagna</li>
  </ul>
<p class="headers">Side Dishes:</p>
  <ul>
    <li>Twice Baked or Scalloped Potatoes</li>
    <li>Steamed Rice</li>
    <li>Orzo with Mint</li>
    <li>Couscous with vegetables</li>
    <li>Steamed or sautéed vegetables of the season</li>
  </ul>
<p class="headers">Desserts:</p>
  <ul>
    <li>Bananas "flambée" with rum and ice cream</li>
    <li>Tres Leches</li>
    <li>Tropical Fruit Salad with ice cream</li>
    <li>Pies, Cheesecake, and cakes for special occasions are available upon request.</li>
  </ul>
 </div>
