<div class="row">
  <div class="col-md-4">
    <form #commentForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" required class="form-control" id="name" name="fname" placeholder="Your name." [(ngModel)]="model.name">
        <label for="u_comments">Comments</label>
        <textarea id="u_comments" required name="user_comments" placeholder="Comments." rows="10" cols="40"  [(ngModel)]="model.comment"></textarea>
        <input type="submit" (click)="add(model)" value="Submit">
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <ul>
      <li *ngFor="let comment of comments">
        {{ comment }}
      </li>
    </ul>
  </div>
</div>
