/**
* Controls carousel size
*/
.carousel {
   width: 100%;
 }

.carousel-caption{
  color: black;
  font-family: 'Prata', serif;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: .2em;
 }

h1{
   font-size: 1.7em
}

p{
   font-size: 1.1em
}